/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
font-family: 'Source Sans Pro', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li,body a{
	margin:0;
	    font-family: 'Source Sans Pro', sans-serif;
		letter-spacing:1px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	letter-spacing:1px;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],input[type="search"],input[type="text"],input[type="email"]{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
	font-family: 'Source Sans Pro', sans-serif;
}
/*-- header --*/
.w3layouts_header_left {
    float: right;
    margin-top: 10px;
}
.w3layouts_header_left p{
	color:#999;
	line-height:1.8em;
}
.w3layouts_header_right{
	float:left;
}
.header {
    padding: 0.6em 3em;
    background: #222;
}
.w3layouts_header_right ul li{
	display:inline-block;
	    color: #fff;
}
.header_contact_details_agile i {
    float: left;
    font-size: 2em;
	color:#fff;
	}
	.agileits-social.top_content ul {
    margin: 0!important;
}
.agileits-social.top_content {
     margin: 0!important;
}
.w3layouts_header_right ul li i{
	 color: #04a69f;
}
.w3layouts_header_right ul li a{
		    color: #fff;
	text-decoration:none;
}
.w3layouts_header_right ul li a:hover{
	color:#fa3d43;
}
.w3layouts_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.w3layouts_header_left ul li a {
      color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.w3layouts_header_left i {
    color: #04a69f;
}
.social_list_w3ls {
    position: absolute;
    bottom: -126px;
    left: 16px;
}
.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}
.social_list_w3ls a {
    display: inline-block;
    margin-right:36px;
    color: #fff;
}
.social_list_w3ls a:hover{
	color:#00acee;
}
.social_list_w3ls span {
    font-size: 1em;
}
/*-- w3layouts_header_mid --*/
.w3layouts_header_mid ul li {
    list-style: none;
    display: inline-block;
    width: 23%;
}
.header_contact_details_agile i {
      color: #ef5734;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 7px;
}
.w3l_header_contact_details_agile {
    float: right;
    width: 80%;
}
.header-contact-detail-title {
    color: #1f1f1f;
    font-size: 1.1em;
    font-weight: 600;
}
a.w3l_header_contact_details_agile-info_inner,.w3l_header_contact_details_agile a {
    font-size: 1em;
    color: #868282;
}
.header_mid {
    padding: 1em 3em;
    background: rgba(245, 244, 244, 0.41);
}

.w3layouts_header_mid ul li {
    list-style: none;
    display: inline-block;
    width: 24.5%;
    border-right: 1px ridge#b5c0d4;
}
.w3layouts_header_mid ul li:nth-child(4) {
border:none;
}
/*-- //w3layouts_header_mid--*/
/*-- bootstrap-pop-up --*/
.modal-header {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
	    border-bottom: none;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #777;
    text-align: left;
	padding:1em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1.5em;
    color:#212121;
	outline: none;
}
/*-- registration --*/
.signin-form {
	    padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
      width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.9em;
       margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
        background: #04a69f;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
       background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	 box-shadow:none!important;
}
/*-- //registration --*/
/*-- //bootstrap-pop-up --*/
/*-- banner --*/
.banner1{
    background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#04a69f;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight:600;
    letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#04a69f;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
       padding: 0.5em 2em;
}
.navbar-right {
    float: left !important;
    margin: 1em 0 0 12em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #222;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #222;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #222;
}
.navbar-brand {
    height: 51px;
    padding: 0;
    font-size: 0px;
    line-height: 43px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(../images/logo.png);
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand span {
    color: #fff;
    background: #04a69f;
    padding: 0px 13px;
    display: none;
}
.link-effect-2 a {
  overflow: hidden;
  font-weight: 400;
}
.link-effect-2 a span {
  position: relative;
  display: inline-block;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-effect-2 a span::before {
  color:#04a69f;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.link-effect-2 a:hover span {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#04a69f;
}
.w3_agile_search{
	float:right;
	    width: 25%;
}
.w3_agile_search input[type="search"] {
    
    font-size: 16px;
    font-weight: 400;
    padding: 6px 12px;
     width: 74%;
    outline: none;
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    letter-spacing: 1px;
}
.w3_agile_search input[type="submit"] {
    background: #04a69f;
    color: #fff;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-weight:700;
    padding: 8px 20px;
    margin-left: -3px;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
	text-transform:uppercase;
}
.w3_agile_search  form {
    outline: none;
    margin: 0 auto;
    padding:5px;
    background: rgba(9, 52, 122, 0.08);
}

/*-- gallery --*/
.w3ls_banner_bottom_right1 h2 {
    font-size: 2.5em;
    color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}
.w3ls_banner_bottom_right1 p {
    color: #666;
    line-height: 2em;
    font-size: 1em;
    margin-bottom: 1em;
}
.w3ls_banner_bottom_right1 h2:after {
    border-top: 2px solid #04a69f;
    display: block;
    width: 81px;
    content: "";
    margin: 8px 0;
}
ul.some_agile_facts li {
    list-style: none;
    margin:15px 0;
    color: #333;
    font-weight: 600;
}
ul.some_agile_facts i {
    color: #04a69f;
    margin-right: 7px;
}
/*--/middle--*/
.w3ls-special-img.w3l-grid-1{
    background:#000 url(../images/g1.jpg) no-repeat 0px 0px;
    min-height:400px;
    background-size: cover;
    text-align: center;
    position: relative;	
}
.w3ls-special-img.w3l-grid-2{
    background:#000 url(../images/g2.jpg) no-repeat 0px 0px;
   min-height:400px;
    background-size: cover;
    text-align: center;
    position: relative;	
}
.w3ls-special-img.w3l-grid-3{
    background:#000 url(../images/g3.jpg) no-repeat 0px 0px;
    min-height:400px;
    background-size: cover;
    text-align: center;
    position: relative;	
}
.w3ls-special-text h4 {
       color: #FFF;
    font-size: 2em;
    margin: 4em 0 0 0;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.w3ls-special-img {
    padding: 0;
}
.w3ls-special-text.effect-1 ul li {
    list-style: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
    margin-bottom: 1em;
}
/*-- Effect 1--*/
.w3ls-special-text:after {
    position: absolute;
        width: 316px;
    height: 323px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
background: rgba(0, 0, 0, 0.17);
}
.effect-1 {
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
}
.effect-1:after {
       top: 43px;
    left: 41px;
    box-shadow: 0 0 0 2px #FFFFFF;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.5s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
}
.w3ls-special-img:hover.w3ls-special-text{
	background:#FF7200;
	color: #fff !important;
}
.w3ls-special-img:hover .w3ls-special-text:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.w3ls-special-img.text_info {
    background: #000;
    min-height: 399px;
}
.w3ls-special-img.text_info h4 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top:4em;
}
/*--//Effect 1--*/
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:none;
    top: -5% !important;
    border-radius: 5px;
	display:none;
}
.nbs-flexisel-nav-left {
	left:91%;
}
.nbs-flexisel-nav-right {
	right: 1.2%;
    background:none;
}
/*--//flexisel--*/
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask, .view .content {
	width: 100%;
    height: 100%;
}
.view .mask, .view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
/* SECOND EFFECTS */

.second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -o-box-sizing:border-box;
   -ms-box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   text-align:center;
}
.second-effect:hover .mask {
	opacity: 1;
    border: 95px solid rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.45);
}
.second-effect .mask p {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    padding: 1em 0 0;
	display: inline-block;
}
/*-- //gallery --*/
.testimonials,.team,.Funding_section {
    padding: 5em 0;
}
.w3l_header {
    font-size: 2.5em;
    color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight:700;
    text-align: center;
}
h3.w3l_header.w3_agileits_header.two {
    color: #fff;
}
.w3l_header:after {
    border-top: 2px solid #04a69f;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.sub_para_agile {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    font-weight: 600;
    color: #48506b;
    letter-spacing: 2px;
    margin-top: 1em;
}
.agile_team_grids_top {
    margin-top: 3em;
}
.agileits_w3layouts_banner_bottom_grid img {
    width: 100%;

}
.agileits_w3layouts_banner_bottom_grid {
background: #ececec;
    padding: 0.5em 0.5em 0.5em 0;
		    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
	    margin-bottom: 5px;
}
.banner-bottom,.gallery{
    padding: 5em 0 0 0;
}
/*-- testimonials --*/
.w3ls_testimonials_grids{
	width:80%;
	margin:3em auto 0;
}
.w3l_testimonial_grid{
	padding: 4em 2em 2em;
    background: #f5f5f5;
    text-align: center;
    position: relative;
    margin: 5em 1.2em 0;
}
.w3l_testimonial_grid:focus,.agileits_testimonial_grid:focus{
	outline:none;
}
.w3l_testimonial_grid_pos{
	position:absolute;
	width:100%;
	text-align:center;
	top:-25%;
	left:0%;
}
.w3l_testimonial_grid_pos img{
	margin:0 auto;
}
.w3l_testimonial_grid p{
	color:#999;
	line-height:2em;
	position:relative;
	padding-left:2em;
}
.w3l_testimonial_grid p:before{
	content:"\f10d";
	font-size:2em;
	color:#04a69f;
	font-family:FontAwesome;
	position:absolute;
	top:0%;
	left:0%;
}
.agileits_testimonial_grid h4{
	font-size:1.1em;
	color:#212121;
	margin:1em 0 0.5em;
}
.agileits_testimonial_grid h5{
	font-size:.8em;
	color:#04a69f;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    line-height: 0;
    position: absolute;
    top: 60%;
    display: block;
    width: 50px;
    height: 40px;
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1em;
    outline: none;
     background: #0c0c0c;
    z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before
{
    content:"\f177";
}
[dir='rtl'] .slick-prev:before
{
    content: "\f177";
}

.slick-next,[dir='rtl'] .slick-prev
{
    right:-6.5%;
}
[dir='rtl'] .slick-next,.slick-prev
{
    right: auto;
    left:-6.5%;
}
.slick-next:before
{
    content: "\f178";
}
[dir='rtl'] .slick-next:before
{
    content: "\f178";
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: #212121;
    border: 0;
    outline: none;
    background:transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'FontAwesome';
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\f111";
    text-align: center;
    opacity: .25;
    color: #808080;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/*-- //testimonials --*/
/*-- footer --*/
.footer_agile_w3ls{
    background: #010713;
	padding:4em 0;
}
.footer_agile_w3ls h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}
.footer_agile_w3ls li,.footer_agile_w3ls li a {
      display: block;
    color: #6a748a;
    font-size: 1em;
    line-height: 2em;
    text-transform: capitalize;
}
.agileits_w3layouts_logo.logo2 {
    text-align: center;
}
.agileits_w3layouts_logo.logo2 h2 {
    margin: 1.5em 0 0.7em;
}
.agileits_w3layouts_logo.logo2 h2 a {
    font-size: 1.4em;
    color: #fff;
    font-weight: 700;
	    text-transform: uppercase;
}
.agileits_w3layouts_logo.logo2 h2 span {
    font-size: .3em;
    letter-spacing: 8px;
}
/*-- social-icons --*/  
.agileits-social ul{
	padding:0;
	margin:0;
	margin-top: 8px;
}
.agileits-social ul li{
	display:inline-block;
}
.agileits-social ul li a {
	color: #333;
    text-align: center;
}
.agileits-social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #3b5998;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-facebook:hover {
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
     background: #1da1f2;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-twitter:hover{
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
     background: #f26522;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-rss:hover{
    opacity: 0.8;
}
.agileits-social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
      background: #45668e;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-vk:hover{
    opacity: 0.8;
}
.agileits-social ul li:nth-child(2){
	margin:0 .5em;
}
.agileits-social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
/*-- //social-icons --*/
.wthree_copy_right{
    padding: 1em 0;
    background: rgba(1, 9, 25, 0.98);
    text-align: center;
}
.wthree_copy_right p{
	color:#fff;
	line-height:2em;
	letter-spacing: 2px;
}
.wthree_copy_right p a{
    color: #04a69f;
	
}
.wthree_copy_right p a:hover{
	color:#fff;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 55px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- bootstrap-pop-up --*/
.modal-content {
    border-radius: 0;
}
.close {
    opacity: 1;
}
.modal-body p i {
    display: block;
    margin: 1em 0 0;
	color:#212121;
}
.modal-body {
    padding: 0em;
}
button.close {
    font-size: 1em;
    color: #212121;
	outline: none;
}
/*-- //bootstrap-pop-up --*/
.w3_agile_timer {
    background: url(../images/banner.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 482px;
    padding: 3em 3em;
}
.main-title{
    float: right;
    margin-top: 4em;
    width: 44%;
}
.main-title h4{
     font-style: italic;
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.main-title h4 p{
    display: block;
    font-style: italic;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #04a69f;
}
/*-- courses --*/
.wthree_banner1_info {
    padding: 8em 0 0;
    text-align: center;
}
.wthree_banner1_info h3{
font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}
.wthree_banner1_info h3 span{
	color:#04a69f;
}
.agileinfo_courses_flipster{
	width:70%;
	margin:0 auto;
}
.w3ls_courses_left{
	padding:0 !important;
}
.w3ls_courses_left_grid h3{
    font-size: 1.2em;
    color: #04a69f;
    text-transform: capitalize;
    font-weight: 600
}
.w3ls_courses_left_grid h3 i{
	color:#212121;
	padding-right:1em;
}
.w3ls_courses_left_grid p{
	margin:2em 0 0;
	color:#999;
	line-height:2em;
}
.w3ls_courses_left_grid{
	padding-top:2em;
}
.w3ls_courses_right p{
	margin-bottom:2em !important;
}
.agileits_courses_right img{
	margin:0 auto;
}
/*-- //courses --*/
/*-- stats --*/
.w3layouts_stats_left{
	padding:5em 0;
	text-align:center;
}
.w3layouts_stats_left p{
	font-size: 2em;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;
}
.w3layouts_stats_left h3{
	font-size:1.2em;
	color:#fff;
}
.w3_counter_grid{
	    background: #3be8b0;
}
.w3_counter_grid1{
	background:#fc636b;
}
.w3_counter_grid2{
	background:#6a67ce;
}
.w3_counter_grid3{
	background:#ffb900;
}
.w3l_stats_bottom_grid_left img{
	margin:0 auto;
}
/*-- //stats --*/
/*-- stats-bottom --*/
body .bar_group__bar.thin::before, body .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

body .bar_group__bar.thin::before {
  width: 100%;
  height: 30px;
  background: #efefef;
}

body .bar_group__bar.thin {
  width: 0%;
  height: 30px;
      background: #09347a;
  margin-bottom: 20px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.w3ls_bar_group__bar_pos p {
    font-size: 1em;
    color: #fff;
    text-align: right;
    padding: .25em 1em 0 0;
}
.bar_group{
    position: relative;
    z-index: 1;
}
body .bar_group__bar.thin:last-child {
    margin-bottom: 0;
}
p.b_label {
   font-size: 1em;
    color: #5d5a5a;
    margin-bottom: .8em;
    font-weight: 600;
}
.w3l_stats_bottom_grid_right {
    margin: 3em 0 0;
}
/*-- //stats-bottom --*/
/*-- stats-bottom-banner --*/
.stats-bottom-banner{
	background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 3em 0;
}
.stats-bottom-banner h3{
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    position: relative;
    font-weight: 700;
    margin-top: 1em;
    letter-spacing: 1px;
}
.stats-bottom-banner h3 span{
	 color:#04a69f;
}
.stats-bottom-banner h3:after{
	content: '';
    background: #04a69f;
    width: 15%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 42%;
}
.stats-bottom-banner p{
	margin: 2em auto 3em;
    color: #fff;
    line-height: 2em;
    width: 70%;
}
.agileits_button{
	margin:0 auto;
	color:#fff;
	border-color:#fff;
}
/*-- //stats-bottom-banner --*/
/*-- services --*/
.agileinfo_services_grids{
	padding-top:1em;
}
.w3_agile_services_grid{
	margin-top:2em;
}
.wthree_services_grid1{
	background:url(../images/g4.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.wthree_services_grid2{
	background:url(../images/g3.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.wthree_services_grid3{
	background:url(../images/g1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.wthree_services_grid4{
	background:url(../images/g2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.wthree_services_grid5{
	background:url(../images/g6.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.wthree_services_grid6{
	background:url(../images/g5.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.wthree_services_grid1,.wthree_services_grid2,.wthree_services_grid3,
.wthree_services_grid4,.wthree_services_grid5,.wthree_services_grid6{
	min-height:215px;
	padding:1em;
}
.agile_services_grid1 h3{
	font-size: 1.1em;
    color: #fff;
    text-align: right;
}
.agile_services_grid1 p{
       background: rgba(17, 19, 18, 0.67);
    padding: 0 .3em;
    color: #fff;
    display: inline-block;
}
.agile_services_grid1 h4{
	font-size: 1.5em;
    color: #fff;
    margin: 4.5em 0 0;
}
.agile_services_grid1 h4 span{
	color: #04a69f;
}
.agile_services_grid1_sub {
    text-align: right;
}
.w3_agileits_services_grid1l{
	float:left;
	width:15%;
}
.w3_agileits_services_grid1r{
	float: right;
    width: 80%;
    text-align: right;
    margin: 1em 0 0;
}
.w3_agileits_services_grid1r ul li{
	display:inline-block;
	color:#04a69f;
}
.w3_agileits_services_grid1 {
    padding: 1em 0;
}
.agileits_w3layouts_services_grid1 h4 a{
    text-transform: capitalize;
    font-size: 1.1em;
    color: #121213;
    line-height: 1.5em;
    text-decoration: none;
    font-weight: 600;
}
.agileits_w3layouts_services_grid1 h4 a:hover{
	color: #04a69f;
}
.agileits_w3layouts_services_grid1 h4 a:focus{
	outline:none;
}
.agileits_w3layouts_services_grid1 p{
	color:#777;
	line-height:2em;
	margin:1em 0 0;
}
/*-- //services --*/
/*-- services-bottom --*/
.services-bottom{
	background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.agileits_services_bottom_grid{
	width: 60%;
    padding: 2.5em;
    text-align: center;
    background: #fff;
    margin: 0 auto;
}
.agileits_services_bottom_grid h3{
	font-size: 1.6em;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileits_services_bottom_grid p{
	color:#999;
	line-height:2em;
	margin:1em 0 0;
}
.w3_agileits_services1_grid1{
	padding:4em 2em 2em;
	border:1px solid #999;
	text-align:center;
	position:relative;
	margin-top:2em;
}
.w3_agileits_services1_grid:hover .w3_agileits_services1_grid1{
	background: #04a69f;
    border-color: #04a69f;
}
.w3_agileits_services1_grid:hover .w3_agileits_services1_grid1 p{
	color:#fff;
}
.w3_agileits_services1_grid1_pos{
	position: absolute;
    top: -17%;
    left: 36%;
}
.w3_agileits_services1_grid1_pos i{
	border: 1px solid #999;
    width: 85px;
    height: 85px;
    border-radius: 65px;
    background: #fff;
    font-size: 1.5em;
    color: #04a69f;
    line-height: 3.5em;
}
.w3_agileits_services1_grid1 h3{
	font-size:1.3em;
	color:#212121;
}
.w3_agileits_services1_grid1 p{
	margin:1em 0 2em;
	color:#999;
	line-height:2em;
}
.wthree_more_service a{
	margin:0 auto;
}
/*-- //services-bottom --*/
/*-- mail --*/
.input {
	position: relative;
    z-index: 1;
    display: inline-block;
    margin:1em 0 0;
    width: 100%;
    vertical-align: top;
}

.input__field {
	position: relative;
    display: block;
    float: right;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
    float: right;
    font-size:16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
/* Nariko */
.input--nariko {
	overflow: hidden;
	padding-top: 2em;
}

.input__field--nariko {
	width: 100%;
    background: transparent;
    opacity: 0;
    padding: 0.7em;
    z-index: 100;
    color: #212121;
    font-size:16px;
}

.input__label--nariko {
	width: 100%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    text-align: left;
    color: #666;
    padding: 0 0.5em;
    font-weight: 600;
}

.input__label--nariko::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3.5em;
	top: 100%;
	left: 0;
	background: #efeeee;
    border-top: 2px solid #e3e3e3;
	-webkit-transform: translate3d(0, -3px, 0);
	transform: translate3d(0, -3px, 0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__label-content--nariko {
	padding: 0.5em 0;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.4s, color 0.4s;
	transition: transform 0.4s, color 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--nariko:focus,
.input--filled .input__field--nariko {
	cursor: text;
	opacity: 1;
	-webkit-transition: opacity 0s 0.4s;
	transition: opacity 0s 0.4s;
} 

.input__field--nariko:focus + .input__label--nariko::before,
.input--filled .input__label--nariko::before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transform: translate3d(0, -3.3em, 0);
	transform: translate3d(0, -3.3em, 0);
}

.input__field--nariko:focus + .input__label--nariko .input__label-content--nariko,
.input--filled .input__label-content--nariko {
	color: #6B6E6E;
	-webkit-transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
	transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
}
.agileinfo_mail_grid_left textarea{
font-size: 16px;
    color: #212121;
    outline: none;
    width: 100%;
    min-height: 174px;
    resize: none;
    margin: 3em 0;
    background: none;
    border: none;
    border-bottom: 3px solid #e3e3e3;
    padding: 1em .3em;
    font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}
.agileinfo_mail_grid_left textarea::-webkit-input-placeholder{
	color:#666!important;
}
.agileinfo_mail_grid_left input[type="submit"]{
	font-size:1.1em;
	color:#fff;
	outline:none;
	width:100%;
	background: #09347a;
	border:none;
	padding:.7em 0;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:1px;
}
.agileinfo_mail_grid_left input[type="submit"]:hover{
	background:#04a69f;
}
.agileinfo_mail_social_rightl,.agileinfo_mail_social_rightr{
	width: 48.52%;
	text-align:center;
}
.agileinfo_mail_social_rightl a,.agileinfo_mail_social_rightr a,.agileinfo_mail_social_right_social a{
	padding:3.5em;
	display:block;
	text-decoration:none;
}
.agileinfo_mail_social_rightl{
	float:left;
}
.agileinfo_mail_social_rightr{
	float:right;
	margin-left:1em;
}
.w3_contact_facebook{
	background:#3b5998;
}
.w3_contact_facebook:hover{
	background:#4e72bd;
}
.w3_contact_twitter{
	background:#1da1f2;
}
.w3_contact_twitter:hover{
	background:#51b8f7;
}
.w3_contact_google{
	background:#dd4b39;
}
.w3_contact_google:hover{
	background:#f95945;
}
.w3_contact_instagram{
	background:#833ab4;
}
.w3_contact_instagram:hover{
	background:#a850e2;
}
.w3_contact_rss{
	background:#f26522;
}
.w3_contact_rss:hover{
	background:#ec763e;
}
.agileinfo_mail_social_rightl i,.agileinfo_mail_social_rightr i,.agileinfo_mail_social_right_social i{
	color:#fff;
	font-size:3em;
}
.agileinfo_mail_social_rightl p,.agileinfo_mail_social_rightr p,.agileinfo_mail_social_right_social p{
	color:#fff;
	font-size:1em;
	margin-top:.5em;
}
.agileinfo_mail_social_right:nth-child(2) {
    margin: 1em 0;
}
.agileinfo_mail_social_right_social{
	text-align:center;
}
.agile_map iframe{
	width:100%;
	min-height:400px;
	margin-bottom:-6px;
}
/*-- //mail --*/
/*-- icons --*/
.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 25px;
    color: #04a69f !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 30px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box {
		width: 33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width:736px){
	.icon-box {
		float: left;
	}
}
@media (max-width: 667px){
	h3.icon-subheading {
		font-size: 20px;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 20px;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	.icon-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
/*--Typography--*/
.grid_3.grid_4.w3layouts {
    margin: 0;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #04a69f;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:991px){
	.grid_3 {
		margin-bottom: 0;
	}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 25px;
	}
	.grid_3.grid_5.w3l,.grid_3.grid_5.agileinfo {
		margin-top: 20px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
/*-- //typography --*/
/*-- start-responsive-design --*/
@media (max-width:1680px){
	.second-effect:hover .mask {
		border: 105px solid rgba(255, 255, 255, 0.7);
	}
}
@media (max-width:1600px){
	.second-effect:hover .mask {
		border: 95px solid rgba(255, 255, 255, 0.7);
	}
}
@media (max-width:1440px){
	.navbar-right {
		margin: 1em 0 0 9em;
	}
	.agileinfo_gallery_top h3 {
		font-size: 1.9em;
	}
	.second-effect:hover .mask {
		border: 85px solid rgba(255, 255, 255, 0.7);
	}
	.w3_agile_search {
		float: right;
		width: 29%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 273px;
		height: 315px;
	}
	.navbar-nav > li > a {
		margin: 0;
		padding: 0 1em;
		text-transform: uppercase;
	}
}
@media (max-width: 1366px){
	.agileinfo_gallery_top h3 {
		font-size: 1.8em;
	}
	.second-effect:hover .mask {
		border: 77px solid rgba(255, 255, 255, 0.7);
	}
	.navbar-nav > li > a {
		margin: 0;
		padding: 0 1em;
	}
	.testimonials,.team, .Funding_section {
		padding: 4em 0;
	}
	.banner-bottom, .gallery {
		padding: 4em 0 0 0;
	}
	.navbar-right {
		margin: 1em 0 0 6em;
	}
	.w3_agile_search {
		float: right;
		width:30%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 257px;
		height: 315px;
	}
}
@media (max-width: 1280px){
	.navbar-right {
		margin: 1em 0 0 3em;
	}
	.agileinfo_gallery_top h3 {
		font-size: 1.67em;
	}
	.second-effect .mask p {
		font-size: 1.3em;
		padding: 0.6em 0 0;
	}
	.w3_agile_search {
		float: right;
		width: 31%;
	}
	.w3l_header,.w3ls_banner_bottom_right1 h2 {
       font-size: 2.3em;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		font-weight: 400;
		padding: 6px 12px;
		width: 73%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 234px;
		height: 315px;
	}
	.main-title {
		float: right;
		margin-top: 4em;
		width: 57%;
	}
}
@media (max-width: 1080px){
	.navbar-right {
	 margin: 1em 0 0 16em;

	}
	.w3_agile_search {
		float: right;
		width:38%;
		margin-top: 1em;
	}
	.w3_banner_color {
		width: 37.8%;
		right: 8.9%;
	}
	.w3ls_banner_bottom_left {
		padding-bottom: 0 !important;
	}
	.w3layouts_register_right form {
		width: 100%;
	}
	.w3layouts_register_left h3 {
		font-size: 2.3em;
	}
	.second-effect:hover .mask {
		border: 62px solid rgba(255, 255, 255, 0.7);
	}
	.w3ls_testimonials_grids {
		width: 90%;
	}
	.footer input[type="email"] {
		width: 81.8%;
	}
	.w3ls_courses_left_grid p {
		margin: 1em 0 0;
	}
	.w3layouts_stats_left {
		padding: 3em 0;
	}
	.agileits_w3layouts_services_grid1 h4 a {
		font-size: 1em;
	}
	.agileits_services_bottom_grid {
		width: 75%;
	}
	.w3_agileits_services1_grid1 h3 {
		font-size: 1.2em;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 47.52%;
	}
	.w3ls_testimonials_grids {
		margin: 2em auto 0;
	}
	.agile_team_grids_top {
		margin-top: 2em;
	}
	.w3ls-special-img.text_info {
		min-height: 400px;
		width: 50%;
	}
	.w3ls-special-img.w3l-grid-1,.w3ls-special-img.w3l-grid-2,.w3ls-special-img.w3l-grid-3 {
		width: 50%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 448px;
		height: 315px;
	}
}
@media (max-width:1050px){
	.navbar-right {
		margin: 1em 0 0 14em;
	}
	.w3_agile_search {
		float: right;
		width: 40%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 435px;
		height: 315px;
	}
}
@media (max-width: 1024px){
	.navbar-right {
		margin: 1em 0 0 12em;
	}
	.w3_agile_phone {
		margin: 1.1em 0 0;
	}
	.w3_banner_color {
		width: 39.7%;
		right: 6.8%;
	}
	.w3ls_banner_bottom_right1 p {
		margin: 1em 0 2em;
	}
	.button {
		max-width: 165px;
	}
	.w3layouts_register_right form {
		width: 100%;
	}
	.w3layouts_register_left h3 {
		font-size: 2.2em;
	}
	.w3_agile_team_grid_right h3 {
		font-size: 1.8em;
	}
	.second-effect:hover .mask {
		border: 58px solid rgba(255, 255, 255, 0.7);
	}
	.w3l_testimonial_grid p {
		padding-left: 2.5em;
	}
	.footer {
		padding: 3em 0;
	}
	.wthree_banner1_info {
		padding: 5em 0 0;
	}
	.banner1 {
		min-height: 182px;
	}
	.stats-bottom-banner p {
		width: 90%;
	}
	.agileits_services_bottom_grid h3 {
		font-size: 1.4em;
	}
	.agileits_services_bottom_grid {
		width: 80%;
	}
	.wthree_banner1_info h3 {
		font-size: 1.8em;
	}
	.agileinfo_mail_social_rightl i, .agileinfo_mail_social_rightr i, .agileinfo_mail_social_right_social i {
		font-size: 2em;
	}
	.agileinfo_mail_social_rightl a, .agileinfo_mail_social_rightr a, .agileinfo_mail_social_right_social a {
		padding: 3.95em;
	}
	.testimonials,.team,.Funding_section,.footer_agile_w3ls {
		padding:3em 0;
	}
	.banner-bottom,.gallery {
		padding:3em 0 0 0;
	}
	.agileits_w3layouts_logo.logo2 h2 a {
      font-size: 1.1em;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 420px;
		height: 315px;
	}
}

@media (max-width: 991px){
	.w3_agile_team_grid_right p {
		width: 100%;
	}
	.agileits_w3layouts_team_grid {
		float: left;
		width: 33.33%;
	}
	.agileits_w3layouts_team_grid h3 {
		font-size: 1.1em;
	}
	.agileinfo_gallery_top h3 {
		font-size: 1.5em;
	}
	.second-effect:hover .mask {
		border: 56px solid rgba(255, 255, 255, 0.7);
	}
	.w3l_testimonial_grid {
		padding:3em 2.7em 2em;
		margin: 5em 0.5em 0;
	}
	.w3l_testimonial_grid p:before {
		font-size: 1.5em;
	}
	.w3l_testimonial_grid p {
		padding-left: 1em;
	}
	.footer input[type="submit"] {
		width: 17%;
	}
	.footer input[type="email"] {
		width: 78.8%;
	}
	.w3agile_footer_grid {
		float: left;
		width: 33.33%;
		padding: 0;
	}
	.agileits_w3layouts_copy_right {
		float: left;
	}
	.w3_agile_copy_right {
		float: right;
	}
	.w3_agileits_copy_right_social {
		padding: 2em 0 0;
	}
	.agile_footer_copy {
		padding: 3em 0 2em;
	}
	.agileits_w3layouts_team_grids {
		margin: 2em 0 0;
	}
	.agileits_courses_right {
		margin: 2em 0 0;
	}
	.w3layouts_stats_left {
		float: left;
		width: 25%;
	}
	.stats-bottom-banner h3 {
		font-size: 1.7em;
	}
	.w3l_stats_bottom_grid_left {
		float: left;
		width: 50%;
	}
	.w3l_stats_bottom_grid_right{
		float:right;
		width:50%;
		padding:0;
	}
	.w3_agile_services_grid {
		float: left;
		width: 50%;
	}
	.agileits_services_bottom_grid {
		width: 100%;
	}
	.w3_agileits_services1_grid {
		float: left;
		width: 33.33%;
	}
	.w3_agileits_services1_grid1_pos i {
		width: 65px;
		height: 65px;
		font-size: 1.3em;
		line-height: 3.1em;
	}
	.w3_agileits_services1_grid1_pos {
		top: -10%;
	}
	.w3_agileits_services1_grid1 {
		padding: 3.5em 1em 2em;
	}
	.w3_agileits_services1_grid1 h3 {
		font-size: 1.04em;
		line-height: 1.5em;
	}
	.sub_para_agile {
      font-size: 0.9em;
	}
	.navbar-right {
		margin: 1em 0 0 10em;
	}
	.w3_agile_search {
		float: right;
		width: 41%;
	}
	.agileinfo_mail_grid_right {
		padding: 0;
		margin-top: 1em;
	}
	.w3ls_banner_bottom_left {
		padding-bottom: 0 !important;
		margin: 0em 0 2em 0;
	}
	.w3ls-special-img.text_info {
		min-height: 400px;
		width:50%;
		float: left;
	}
	.w3ls-special-img.w3l-grid-1,.w3ls-special-img.w3l-grid-2,.w3ls-special-img.w3l-grid-3 {
		width: 50%;
	    float: left;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 407px;
		height: 315px;
	}
}
@media (max-width: 900px){
	.navbar-right {
		margin: 0.8em 0 0 4em;
	}
	.navbar-brand {
		height: 40px;
		font-size: .9em;
		letter-spacing: 0px;
	}
	.navbar-nav > li > a {
		padding: 0 1em;
	}
	.w3_agile_phone {
		margin: 1em 0 0;
	}
	.second-effect:hover .mask {
		border: 48px solid rgba(255, 255, 255, 0.7);
	}
	.w3_agile_search {
		float: right;
		width: 47%;
	}
	.navbar-right {
		margin: 0.8em 0 0 7em;
	}
	.footer-w3-agileits, .footer-agileits, .footer-wthree, .footer-agileits-w3layouts {
		padding: 0;
		margin-bottom: 1em;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 360px;
		height: 315px;
	}
	.w3layouts_header_mid ul li {
		list-style: none;
		display: inline-block;
		width: 49%;
		border-right: 1px ridge#b5c0d4;
		margin-top: 10px;
	}
	.w3layouts_header_mid ul li:nth-child(2) {
		border: none;
	}
	.agileinfo_mail_grid_left {
		padding: 0;
	}
}
@media (max-width: 800px){
	.navbar-right {
		margin: 0.8em 0 0 6em;
	}
	.navbar-brand {
		height: 40px;
		font-size: .9em;
		letter-spacing: 0px;
	}
	.navbar-nav > li > a {
		padding: 0 0em;
	}
	.navbar-nav > li {
		font-size: 15px;
		margin-left: 20px;
	}
	.w3_agile_phone p {
		font-size: 13px;
	}
	.w3_agile_phone p i {
		padding-right: 0.5em;
	}
	.w3_agile_phone {
		margin: 1em 0 0;
	}
	.w3_agile_social_icons {
		bottom: 5%;
		right: 4%;
	}
	.w3_agileits_social_icons {
		margin: 0 0 1em;
	}
	.second-effect:hover .mask {
		border: 39px solid rgba(255, 255, 255, 0.7);
	}
	.w3agile_footer_grid p span {
		display: inline;
		margin: 0;
	}
	.agile_short_dropdown li a {
		font-size: 12px;
		padding: .7em 0;
	}
	.agile_short_dropdown {
		min-width: 135px;
	}
	.agile_map iframe {
		min-height: 300px;
	}
	.agileits_w3layouts_logo.logo2 h2 a {
      font-size: 1.2em;
	}
	.w3_agile_search {
		float: right;
		width: 52%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 311px;
		height: 315px;
	}
}
@media (max-width: 768px){
	.w3_agile_team_grid_right h3 {
		font-size: 1.6em;
	}
	.w3layouts_register_left h3 {
		font-size: 2em;
	}	
	.second-effect:hover .mask {
		border: 97px solid rgba(255, 255, 255, 0.7);
	}
	.w3ls_bar_group__bar_pos p {
		font-size: 14px;
		padding: .5em 1em 0 0;
	}
	.navbar-right {
		margin: 0.8em 0 0 6em;
	}
	.w3_agile_search {
		float: right;
		width: 55%;
	}
	nav.navbar.navbar-default {
		background: none;
		padding: 0.5em 1em;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 295px;
		height: 315px;
	}
	.w3_agile_timer {
		min-height: 411px;
		padding: 3em 3em;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
		background: #04a69f;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #04a69f;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-right {
		margin: 0;
		float: none !important;
		text-align: center;
	}
	.navbar-nav {
		margin: 0;
		background:rgba(0, 0, 0, 0.85);
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-collapse {
		box-shadow: none;
	}
	.navbar-nav > li,.agile_short_dropdown li a {
		font-size: 13px;
	}
	.navbar-nav > li > a {
		padding: 0;
		margin: 1em 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color:#04a69f;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 1em 0;
	}
	.w3_agile_phone {
		margin: 0;
	}
	.navbar-toggle {
		margin: 0.5em 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 95.5%;
		z-index: 999;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff!important;
	}
	.w3_agile_search {
		float: right;
		width: 52%;
		margin-top: 0em;
	}
	.navbar-nav > li {
		margin-left: 0px;
	}
}
@media (max-width: 736px){
	.agileinfo_social_icons li a {
		width: 30px;
		height: 30px;
		font-size: 14px;
	}
	.agileinfo_social_icons li a i {
		line-height: 2em;
	}
	.second-effect:hover .mask {
		border: 90px solid rgba(255, 255, 255, 0.7);
	}
	.slick-list {
		padding: 0 !important;
	}
	.slick-prev, .slick-next {
		width: 40px;
	}
	.footer input[type="email"] {
		width: 78.5%;
	}
	.wthree_banner1_info h3 {
		font-size: 1.6em;
	}
	.stats-bottom-banner p {
		width: 100%;
	}
	.stats-bottom-banner h3 {
		font-size: 1.6em;
	}
	.w3_agileits_services1_grid1 h3 {
		font-size: 1.15em;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 48.75%;
	}
	.sub_para_agile {
      font-size: 0.9em;
	}
	.w3_agile_search {
		float: right;
		width: 55%;
		margin-top: 0em;
	}
	.w3layouts_stats_left h3 {
       font-size: 1em;
	}
	.w3layouts_stats_left p {
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	
	.w3ls-special-text:after {
		position: absolute;
		width: 278px;
		height: 315px;
	}
	.main-title {
		float: right;
		margin-top: 4em;
		width: 75%;
	}
}
@media (max-width: 667px){
	.second-effect:hover .mask {
		border: 82px solid rgba(255, 255, 255, 0.7);
	}
	.footer input[type="email"] {
		width: 78%;
	}
	.w3agile_footer_grid {
		float: none;
		width: 100%;
	}
	.w3agile_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3agile_footer_grid h3 {
		margin: 0 0 1em;
	}
	.w3agile_footer_grid ul li:last-child {
		margin-bottom: 0em;
	}
	.banner1 {
		min-height: 190px;
	}
	.agileits_mail_grids {
		margin: 0 !important;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 48.6%;
	}
	.w3l_header,.w3ls_banner_bottom_right1 h2 {
		font-size: 2em;
	}
	.agile_team_grids_top {
		margin-top:1em;
	}
	.w3_agile_search {
		float: right;
		width: 61%;
		margin-top: 0em;
	}
	.header {
      padding: 0.6em 1em;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 243px;
		height: 216px;
	}
	.w3ls-special-img.w3l-grid-1, .w3ls-special-img.w3l-grid-2, .w3ls-special-img.w3l-grid-3{
	  min-height: 300px;
	}
	.w3ls-special-img.text_info {
    min-height: 300px;
	}
	.w3ls-special-text h4 {
		font-size: 1.5em;
		margin: 4em 0 0 0;
		letter-spacing: 2px;
		margin-bottom: 1em;
	}
	.w3ls-special-img.text_info h4 {
		font-size: 2em;
		padding-top: 4em;
	}
}
@media (max-width: 640px){
	.w3_agile_team_grid_right h3 {
		font-size: 1.5em;
	}
	.agileinfo_gallery_top h3 {
		font-size: 1.3em;
	}
	.second-effect:hover .mask {
		border: 78px solid rgba(255, 255, 255, 0.7);
	}
	.w3l_testimonial_grid {
		padding: 3em 2em 2em;
	}
	.footer input[type="email"] {
		width: 74%;
	}
	.footer input[type="submit"] {
		width: 20%;
	}
	.w3ls_courses_left_grid h3 {
		font-size: 1.15em;
	}
	.w3ls_courses_grids {
		margin: 1em 0 0 !important;
	}
	.w3l_stats_bottom_grid_right {
		margin: 1em 0 0;
	}
	.agileits_w3layouts_services_grid1 h4 a {
		font-size: .95em;
	}
	.agile_services_grid1 h4 {
		font-size: 1.3em;
		margin: 5em 0 0;
	}
	.w3_agileits_services1_grid {
		float: none;
		width: 60%;
		margin: 4em auto 0;
	}
	.w3_agileits_services1_grid1_pos {
		top: -13%;
		left: 41%;
	}
	.agileinfo_mail_social_rightl a, .agileinfo_mail_social_rightr a, .agileinfo_mail_social_right_social a {
		padding: 2.5em;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 48.58%;
	}
	.footer-w3-agileits,.footer-agileits,.footer-wthree,.footer-agileits-w3layouts {
		padding: 0;
		margin-bottom:1em;
	}
	.footer_agile_w3ls h3 {
		font-size: 20px;
		margin-bottom: 7px;
		letter-spacing:1px;
	}
	.agileits_w3layouts_logo.logo2 h2 a {
       font-size: 1em;
	}
	.agileits_w3layouts_logo.logo2 h2 {
		margin: 0em 0 0.5em;
	}
	.w3layouts_header_left {
		float: none;
		text-align: center;
	}
	.w3layouts_header_right {
		float: none;
		text-align: center;
		margin-bottom: 6px;
	}
	.w3layouts_header_left ul li a {
		padding: 0.5em 0em;
		font-size: 0.95em;
	}
	.w3_agile_search {
		float: right;
		width: 95%;
		margin-bottom: 10px;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width: 81%;
	}
	.w3_agile_search input[type="submit"] {
		font-size: 15px;
		padding: 8px 24px;
	}
	.testimonials,.team,.Funding_section,.footer_agile_w3ls {
		padding:2em 0;
	}
	.banner-bottom,.gallery {
		padding:2em 0 0 0;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 234px;
		height: 216px;
	}
	.header_mid {
       padding: 1em 1em;
	}
}
@media (max-width: 600px){
	.w3_agile_phone p {
		font-size: 12px;
	}
	.w3_agile_social_icons {
		bottom: 7%;
	}
	.agileits_w3layouts_team_grid {
		float: none;
		width: 50%;
		margin: 0 auto;
	}
	.agileits_w3layouts_team_grid:nth-child(2) {
		margin: 2em auto;
	}
	.second-effect:hover .mask {
		border: 72px solid rgba(255, 255, 255, 0.7);
	}
	.agileits_testimonial_grid h4 {
		font-size: 1em;
	}
	.w3l_testimonial_grid {
		padding: 3em 1.5em 2em;
		margin: 4em 0.5em 0;
	}
	.footer h2 {
		font-size: 1.1em;
	}
	.footer input[type="email"],.footer input[type="submit"] {
		font-size: 1.2em;
	}
	.agileits_w3layouts_copy_right {
		float: none;
		text-align: center;
		margin-bottom: .5em;
	}
	.w3_agile_copy_right {
		float: none;
		text-align: center;
	}
	.w3l_stats_bottom_grid_left {
		float: none;
		margin: 0 auto;
	}
	.w3l_stats_bottom_grid_right {
		    margin: 0em 0 2em 0;
			float: none;
			width: 100%;
	}
	.agileits_w3layouts_services_grid1 h4 a {
		font-size: .9em;
	}
	.agileits_services_bottom_grid h3 {
		font-size: 1.25em;
	}
	.agileits_services_bottom_grid {
		padding: 2em;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 48.4%;
	}
	.w3_women_team{
		padding-bottom:0 !important;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width:79%;
	}
	.w3layouts_stats_left {
		float: left;
		width: 50%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 213px;
		height: 216px;
	}
}
@media (max-width: 568px){
	.gallery-top,.agileinfo_gallery_top {
		padding: 1em;
	}
	.second-effect:hover .mask {
		border:57px solid rgba(255, 255, 255, 0.7);
	}

	.second-effect .mask p {
		font-size: 1.3em;
		padding: 0.9em 0 0;
	}

	.wthree_banner1_info h3 {
		font-size: 1.4em;
	}
	.navbar-brand {
		font-size: .85em;
	}
	.wthree_banner1_info {
		padding: 4em 0 0;
	}
	.banner1 {
		min-height: 160px;
	}
	.w3layouts_stats_left p {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.w3layouts_stats_left h3 {
		font-size: 1.1em;
	}
	.w3layouts_stats_left {
		padding: 2em 0;
	}
	.stats-bottom-banner h3 {
		font-size: 1.4em;
	}
	.w3_agileits_services1_grid {
		width: 63%;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 48.3%;
	}
	.w3l_header,.w3ls_banner_bottom_right1 h2 {
		font-size: 1.8em;
	}
	.agile_team_grids_top {
		margin-top:1em;
	}
	.w3l_testimonial_grid_pos {
		position: absolute;
		width: 100%;
		text-align: center;
		top: -16%;
		left: 0%;
	}
	.w3_agile_search {
        float: right;
		width: 98%;
		margin-bottom: 10px;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 195px;
		height: 216px;
	}
	.w3_agile_timer {
		min-height: 361px;
		padding: 2em 3em;
	}
	.header_contact_details_agile i {
		font-size: 1.3em;
	}
}	
@media (max-width: 480px){
	.w3ls_banner_bottom_right {
		width: 78%;
	}
	.nav > li > a {
		font-size: 12px;
	}
	.w3layouts_register_right input[type="text"], .w3layouts_register_right input[type="email"] {
		padding: 10px;
	}
	.w3layouts_register_right form {
		width: 100%;
	}
	.w3layouts_register_left h3 {
		font-size: 1.5em;
	}
	.w3layouts_register_left p {
		margin: 1em 0 0;
	}
	.agileits_w3layouts_team_grid {
		width: 60%;
	}
	.second-effect:hover .mask {
		border:100px solid rgba(255, 255, 255, 0.7);
	}
	.w3l_testimonial_grid {
		padding:2em 1em 1.5em;
		margin:3em 0.2em 0;
	}
	.second-effect .mask p {
		font-size: 1.3em;
		padding: 1.9em 0 0;
	}

	.w3l_testimonial_grid p:before {
		font-size: 1em;
	}
	.w3l_testimonial_grid_pos {
		top: -19%;
	}
	.slick-slide img {
		width: 35%;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 0.5em 0;
		font-size: 12px;
	}
	.footer {
		padding: 2em 0;
	}
	.w3agile_footer_grid h3 {
		font-size: 1.3em;
	}
	.w3layouts_stats_left {
		width: 50%;
	}
	.stats-bottom-banner p {
		margin: 2em auto;
	}
	.w3l_stats_bottom_grid_left {
		width: 65%;
	}	
	.modal-body {
		padding: 1.5em;
	}
	.modal-header {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.agileinfo_services_grids {
		padding-top: 0em;
	}
	.w3_agile_services_grid {
		float: none;
		width: 100%;
	}
	.agileits_w3layouts_services_grid1 h4 a {
		font-size: 1.1em;
	}
	.w3_agileits_services1_grid {
		width: 80%;
	}
	.agileinfo_mail_grid_left textarea {
		min-height: 150px;
		margin: 2em 0;
	}
	.agileinfo_mail_social_rightl a, .agileinfo_mail_social_rightr a, .agileinfo_mail_social_right_social a {
		padding: 2em;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 48%;
	}
	.agileinfo_mail_social_rightl i, .agileinfo_mail_social_rightr i, .agileinfo_mail_social_right_social i {
		font-size: 1.5em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 93%;
	}
	.sub_para_agile {
      font-size: 0.85em;
	}
	.w3_agile_search {
		float: right;
		width: 100%;
		margin-bottom:10px;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width: 75%;
	}
	.banner1 {
		min-height: 132px;
	}
	.wthree_banner1_info {
		padding: 3.5em 0 0;
	}
	.w3ls-special-img.text_info {
		min-height: 200px;
	}
	.w3ls-special-img.text_info h4 {
		font-size: 1.5em;
		padding-top: 3.5em;
	}
	.w3ls-special-img.w3l-grid-1, .w3ls-special-img.w3l-grid-2, .w3ls-special-img.w3l-grid-3 {
		min-height: 200px;
	}
	.w3ls-special-text h4 {
		font-size: 1.2em;
		margin:3em 0 0 0;
		letter-spacing: 2px;
		margin-bottom: 0.5em;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 154px;
		height: 120px;
	}
	.w3ls_banner_bottom_right1 p {
		margin: 1em 0 1em;
	}
	.main-title h4 {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	.main-title h4 p {
		font-size: 14px;
	}
	.w3_agile_timer {
		min-height: 280px;
		padding: 1em 3em;
	}
	.main-title {
		float: right;
		margin-top: 3em;
		width: 82%;
	}
	.w3ls_banner_bottom_left {
		padding-bottom: 0 !important;
		margin: 0em 0 2em 0;
		padding: 0;
	}
}
@media (max-width: 414px){
	.w3_agile_social_icons {
		bottom: 6%;
	}
	.w3ls_banner_bottom_right {
		width: 80%;
	}
	.w3layouts_register_left {
		margin: 2em 0 0;
	}
	.agileits_w3layouts_team_grid {
		width: 70%;
	}
	.agileinfo_gallery_top h3 {
		font-size: 1em;
	}
	.second-effect:hover .mask {
		border:80px solid rgba(255, 255, 255, 0.7);
	}
	.w3l_testimonial_grid_pos {
		top: -13%;
	}
	.w3l_testimonial_grid {
		margin: 2.5em 0.2em 0;
	}
	.footer input[type="email"] {
		width: 100%;
		margin-bottom: 1em;
	}
	.footer input[type="email"], .footer input[type="submit"] {
		font-size: 1.1em;
	}
	.footer input[type="submit"] {
		width: 100%;
		margin: 0;
	}
	.agile_footer_copy {
		padding: 2em 0 1em;
	}
	.w3_agileits_copy_right_social {
		padding: 1em 0 0;
	}
	.w3ls_courses_grids {
		margin:0 !important;
	}
	.w3_agileits_services1_grid {
		width: 90%;
	}
	.input {
		margin: 0;
	}
	.agileinfo_mail_grid_left {
		padding: 0;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 47.5%;
	}
	.w3l_header,.w3ls_banner_bottom_right1 h2 {
      font-size: 1.6em;
	}
	.w3layouts_header_right ul li:last-child {
		margin-left: 0.6em;
	}
	.w3ls-special-img.text_info h4 {
		font-size: 1.2em;
		padding-top: 2.5em;
	}
	.w3ls-special-img.text_info {
		width: 100%;
		float: left;
		min-height: 100px;
	}
	.w3ls-special-img.w3l-grid-1, .w3ls-special-img.w3l-grid-2, .w3ls-special-img.w3l-grid-3 {
		width: 100%;
		float: left;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 276px;
		height: 120px;
	}
	.main-title {
		float: right;
		margin-top: 2em;
		width: 100%;
	}
	.w3_agile_timer {
		min-height: 238px;
		padding: 1em 2em;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width: 71%;
	}
	.w3layouts_header_mid ul li {
		list-style: none;
		display: inline-block;
		width: 100%;
		border-right: 1px ridge#b5c0d4;
		margin-top: 10px;
	}
}
@media (max-width: 384px){
	.w3_agile_team_grid_right {
		width:85%;
	}
	.w3_agile_team_grid_right h3 {
		font-size: 1.3em;
	}
	.agileits_w3layouts_team_grid {
		width: 80%;
	}
	.second-effect:hover .mask {
		border:55px solid rgba(255, 255, 255, 0.7);
	}
	.w3l_testimonial_grid_pos {
		top: -9%;
	}
	.w3l_testimonial_grid {
		margin: 3em 0.2em 0;
	}
	.stats-bottom-banner h3 {
		font-size: 1.2em;
	}
	.w3l_stats_bottom_grid_left {
		width: 80%;
	}
	.w3ls_bar_group__bar_pos p {
		font-size: 13px;
		padding: .5em 1em 0 0;
	}
	.slick-slide img {
		width: 25%;
	}
	.w3ls_testimonials_grids {
		margin: 1em auto 0;
	}
	.w3l_testimonial_grid_pos {
		top: -25%;
	}
	.w3ls_courses_left_grid h3 {
		font-size: 1em;
	}
	.agileits_w3layouts_services_grid1 h4 a {
		font-size: 1em;
	}
	.modal-header {
		font-size: 1.5em;
		padding: 10px;
		letter-spacing: 0px;
	}
	.agileits_services_bottom_grid {
		padding: 1em;
	}
	.agileinfo_mail_social_rightl i, .agileinfo_mail_social_rightr i, .agileinfo_mail_social_right_social i {
		font-size: 1.2em;
	}
	.agileinfo_mail_social_rightl p, .agileinfo_mail_social_rightr p, .agileinfo_mail_social_right_social p {
		font-size: 14px;
	}
	.agileinfo_mail_social_rightl, .agileinfo_mail_social_rightr {
		width: 47.3%;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width: 68%;
	}
	.w3l_header {
		font-size: 1.4em;
	}
	.second-effect .mask p {
		font-size: 1.3em;
		padding: 2.1em 0 0;
	}
	.w3ls_banner_bottom_right1 p {
    font-size: 0.9em;
	}
}
@media (max-width: 375px){
	
	.navbar-brand {
		font-size: .8em;
	}
	.w3l_testimonial_grid p {
		padding-left: 1.5em;
	}
	.agile_services_grid1 h3 {
		font-size: 1em;
	}
	.agile_services_grid1 p {
		font-size: 13px;
	}
	.agile_services_grid1 h4 {
		font-size: 1.1em;
		margin: 6em 0 0;
	}
	.agileits_w3layouts_services_grid1 h4 a {
		font-size: .9em;
	}
	.agileits_services_bottom_grid h3 {
		font-size: 1.1em;
	}
	.w3_agileits_services1_grid {
		width: 100%;
	}
	.w3_agileits_services1_grid1_pos {
		left: 40%;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width: 67%;
	}
}
@media (max-width: 320px){
	.navbar-brand {
		font-size: .7em;
	}
	p, ul li, ol li,.w3agile_footer_grid p,.w3agile_footer_grid ul li,.w3layouts_register_right input[type="text"], .w3layouts_register_right input[type="email"] {
		font-size: 13px;
	}
	.w3ls_banner_bottom_right {
		width: 90%;
	}
	.agileits_w3layouts_team_grid h3 {
		font-size: 1em;
	}
	.w3l_testimonial_grid_pos {
		top: -19%;
	}
	.footer h2 {
		font-size: 1em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 89%;
	}
	.w3layouts_stats_left p {
		font-size: 1.5em;
	}
	.w3layouts_stats_left h3 {
		font-size: 1em;
	}
	.stats-bottom-banner h3 {
		font-size: 1.1em;
	}
	p.b_label {
		font-size: .8em;
	}
	.w3_agile_services_grid {
		padding: 0;
	}
	.w3_agileits_services1_grid1 {
		padding: 3em 1em 2em;
	}
	.w3_agileits_services1_grid1_pos {
		left: 38%;
	}
	.agileinfo_mail_social_rightr {
		margin-left: .5em;
	}
	.banner1 {
		min-height: 97px;
	}
	.wthree_banner1_info {
		padding: 2.5em 0 0;
	}
	nav.navbar.navbar-default {
		background: none;
		padding: 0.5em 0.7em 0 0.7em;
	}
	.w3l_header,.w3ls_banner_bottom_right1 h2 {
		font-size: 1.3em;
	}
	.w3_agile_search input[type="search"] {
		font-size: 16px;
		padding: 6px 12px;
		width: 62%;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 220px;
		height: 120px;
	}
}